.taxation  {
    margin-top: 2em;
}

@media only screen and (min-width: 438px) {
    .taxation  {
        border-top: 10px solid #a3a39e;
        position: relative;
    }
    .taxation:after {
        content: '';
        display: block;
        position: absolute;
        width: 10em;
        top: -10px;
        right: 0px;
        border: 10px solid white;
    }
    .heading {
            margin:-3.1em 0 0 -1.1em;
            background-color: white;
            width: 18em;
    }
}